
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Greetings, <%= @invitee.full_name %>!</h1>
    <p>
      You have been invited to Craig's graduation party!  Craig turned 40 this year and also graduated! Come to Craig and Tricia Bowes' house 
      to celebrate.
    </p>
    <p>
      To view the invitation and RSVP, click this link or paste it into your browser window: <a href="<%= @url %>"><%= @url %></a>
    </p>
  </body>
</html>



