
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>hello, <%= @invitee.full_name %></h1>
    <p>
      You have been invited to craig's graduation party!  Craig turned 40 this year and also graduated!  Come eat his food and drink 
      his liquor.
    </p>
    <p>
      Click this link to view the invitation: <%= @url %>
    </p>
  </body>
</html>



